@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "./reset.css";

body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: rgb(250, 250, 250);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    position: relative;
}
