.friend {
    padding: 0 10px 0 10px;
}

.friend__search-input,
.friend__search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.friend__search-input input {
    width: 75%;
    height: 40px;
    font-size: 1.25rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
}

.friend__search-result ul {
    width: 75%;
    background-color: green;
}

.friend__request-status {
    width: 100%;
    display: flex;
}

.friend__request-sent,
.friend__request-received {
    flex: 1;
    box-sizing: border-box;
}

.friend__request-sent {
    background-color: lightcoral;
}

.friend__request-received {
    background-color: lightblue;
}

.friend__friends-list {
    background-color: teal;
}
